
<app-nav [pageInfo]="pageInfo" [pageGroup]="pageGroup"  (groupNumber)="selectingNumber($event)" (arrowTime)="pagingArrow($event)" (inputNumber)="inputtingNumber($event)"></app-nav>
<div *ngIf="(area1Info | json) !== '{}' && (areaMoreInfo | json) !== '{}'" class="unitSection">
    <app-unitlist [unitInfo]="area1Info" [category]="'Area 1 sq. ft.'"></app-unitlist>
    <app-unitlist [unitInfo]="areaMoreInfo" [category]="'Area > 1 sq. ft.'"></app-unitlist>
</div>
<h1 *ngIf="(area1Info | json) === '{}' || (areaMoreInfo | json) === '{}'">LOADING...</h1>
